.DS_Store
cs50/hello.dSYM
cs50/hello
cs50/libcs50-11.0.3
cs50/compare.dSYM/Contents
cs50/compare
cs50/meow
cs50/agree
cs50/meow.dSYM/Contents
cs50/agree.dSYM/Contents
cs50/pset1/mario.dSYM/Contents
cs50/pset1/mario
cs50/calculator.dSYM/Contents
cs50/calculator
cs50/lab1/population.dSYM/Contents
cs50/lab1/population
cs50/arrays.dSYM/Contents
cs50/arrays
cs50/scores.dSYM/Contents
cs50/scores
playground/define
